<% include ../partials/header %>
<div class="ui container">
    <div style="height: 100%;" class="ui segment">
        <% if(post.link) { %>
            <a href="<%= post.link %>">
                <h1><%= post.title %></h1>
            </a>
        <% } else { %>
            <h1><%= post.title %></h1>
        <% } %>
        <em>Submitted by <a href="/user/<%= post.author.id %>"><%= post.author.username %></a></em>
        <div class="ui divider"></div>
        <p><%= post.content %></p>
        <% switch(post.linkType) { 
            case "Image": %>
            <img class="ui image" src="<%= post.link %>">
            <% break; 
                case "Video": %>
            <video class="ui fluid" width="100%" autoplay controls loop>
                <source src="<%= post.link %>">
            </video>
            <% break;
                case "Youtube": %>
            <div class="yt-video-box">            
                <iframe class="yt-video" src="<%= post.link %>" frameborder="0" allowfullscreen></iframe>
            </div>
            <% break;
        } %>
    </div>    
    <div class="ui styled fluid accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            <span>SUBMIT A COMMENT</span>
        </div>
        <div class="content">
            <% if(currentUser) { %>   
            <form class="ui form" action="/post/<%= post._id %>" method="POST">
                <div class="ui field">
                    <input type="text" name="comment[text]" placeholder="Comment">
                </div>
                <div class="ui field">
                    <button class="ui right labeled icon orange button">
                        <i class="send icon"></i>
                        Add Comment
                    </button>
                </div>
            </form>
            <% } else { %>
                <p>You must be logged in to comment.</p>
            <% } %>
        </div> 
    </div>
    <div class="ui relaxed divided list">
       <h3 class="inline-text">Comments </h3> <i class="comment icon"></i>
        <% if(post.comments.length > 0) { %>
            <% post.comments.forEach(function(comment) { %>
                <div class="item">
                    <div class="content">
                        <div class="header">
                            <%= comment.text %>
                        </div>
                        <div class="description">
                             <em>By <a href="/user/<%= comment.author.id %>"><%= comment.author.username %></a></em>
                        </div>
                    </div>
                </div>     
            <% }) %>
        <% } else { %>
            <p>No comments here.</p> 
        <% } %>
           
    </div>
</div>
<script language='javascript'>
    $(document).ready(function(){
        $(".ui.accordion").accordion({animateChildren: false});
    });
</script>
<% include ../partials/footer %>