<% include partials/header %>
    <div class="ui container">
        <% if(currentUser) { %>
            <h1>Welcome <%= currentUser.username %></h1>
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    <span>SUBMIT A POST</span>
                </div>
                <div class="content">
                    <div class="ui secondary pointing orange tabular menu">
                        <div class="item active" data-tab="link-tab">Link</div>
                        <div class="item" data-tab="text-tab">Text</div>
                    </div>
                    <div class="ui tab active" data-tab="link-tab">
                        <form class="ui form" action="/post/" method="POST">
                            <div class="ui field fluid input">
                                <input type="text" name="title" placeholder="Title">
                            </div>
                            <div class="ui field fluid input">
                                <input type="text" name="link" placeholder="Link">
                            </div>
                            <div class="ui field fluid input">
                                <input type="text" name="content" placeholder="Content">
                            </div>
                            <button class="ui orange button">Submit</button>
                        </form>
                    </div> 
                    <div class="ui tab" data-tab="text-tab">
                        <form class="ui form" action="/post/" method="POST">
                            <div class="ui field fluid input">
                                <input type="text" name="title" placeholder="Title">
                            </div>
                            <div class="ui hidden divider"></div>
                            <div class="ui field fluid input">
                                <textarea placeholder="Enter text here" rows="4" cols="50" name="content"></textarea>
                            </div>
                            <div class="ui hidden divider"></div>
                            <button class="ui orange button">Submit</button>
                        </form>
                    </div>  
                </div>
            </div>
        <% } %>  
        <br>  
        <% if (posts.length > 0) { %>
            <div class="ui four cards stackable">   
                <% posts.forEach(function(post){ %>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                <% if(post.link) { %>
                                    <a href="<%= post.link %>">
                                        <%= post.title.substring(0,70) %>
                                    </a>
                                <% } else { %>
                                    <%= post.title.substring(0,70) %>
                                <% } %>
                                
                                <% if(post.title.length > 70) { %>
                                    ...
                                <% } %>
                                <!-- <% if(post.isImage) { %>
                                    <i class="image right floated icon"></i>
                                <% } else if(post.isVideo) { %>
                                    <i class="film right floated icon"></i>
                                <% } else if(post.link) { %>
                                    <i class="linkify right floated icon"></i>
                                <% } %> -->
                            </div>
                        </div>
                        <div class="content">
                            <p><%= post.content.substring(0,100) %></p>
                            <% if(post.content.length > 100) { %>
                                ...
                            <% } %>
                            <% if(post.isImage) { %>
                                <img class="ui image" src="<%= post.link %>">
                            <% } else if(post.isVideo) { %>
                                <video class="ui fluid" width="100%" autoplay controls loop>
                                    <source src="<%= post.link %>">
                                </video>
                            <% } else if(post.isYoutube) { %>
                                <div class="yt-video-box">            
                                    <iframe class="yt-video" src="<%= post.link %>" frameborder="0" allowfullscreen></iframe>
                                </div>
                            <% } %>
                        </div>                    
                        <a href="/post/<%= post._id %>" class="ui animated bottom attached button">
                            <div class="visible content">
                                Read More
                            </div>
                            <div class="hidden content">
                                <i class="chevron circle right icon"></i>
                            </div>                        
                        </a>
                    </div>
                    <% }); %>
                </div>
            <% } else { %>
                <div class="ui segment">
                    <p>No posts yet!</p>
                </div>
            <% } %>
        
    </div>
    <!-- TODO: PUT THIS IN ANOTHER FILE -->
    <script language='javascript'>        
        $(document).ready(function () {
            $('.tabular.menu .item').tab({
                history: false
            });
            $('.ui.accordion').accordion({
                animateChildren: false
            });            
        });
    </script>

    <% include partials/footer %>