<% include partials/header %>
<% include functions %>
    <div class="ui container">
        <% if(currentUser) { %>
            <h1>Welcome <%= currentUser.username %></h1>
        <% } %> 
        <div class="ui styled fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                <span>SUBMIT A POST</span>
            </div>
            <div class="content">
                <% if(currentUser) { %>
                    <div class="ui secondary pointing orange tabular menu">
                        <div class="item active" data-tab="link-tab">Link</div>
                        <div class="item" data-tab="text-tab">Text</div>
                    </div>
                    <div class="ui tab active" data-tab="link-tab">
                        <form class="ui form" action="/post/" method="POST">
                            <div class="ui field fluid input">
                                <input type="text" name="title" placeholder="Title" required>
                            </div>
                            <div class="ui field fluid input">
                                <input type="text" name="link" placeholder="Link" required>
                            </div>
                            <div class="ui field fluid input">
                                <input type="text" name="content" placeholder="Content">
                            </div>
                            <button class="ui right labeled icon orange button">
                                <i class="add circle icon"></i>
                                Submit
                            </button>
                        </form>
                    </div> 
                    <div class="ui tab" data-tab="text-tab">
                        <form class="ui form" action="/post/" method="POST">
                            <div class="ui field fluid input">
                                <input type="text" name="title" placeholder="Title" required>
                            </div>
                            <div class="ui hidden divider"></div>
                            <div class="ui field fluid input">
                                <textarea placeholder="Enter text here" rows="4" cols="50" name="content" required></textarea>
                            </div>
                            <div class="ui hidden divider"></div>
                            <button class="ui right labeled icon orange button">
                                <i class="add circle icon"></i>
                                Submit
                            </button>
                        </form>
                    </div>  
                <% } else { %> 
                    <p>You must be logged in to post.</p>
                <% } %> 
            </div>
        </div>         
        <br>
        <% posts.sort(sortPosts); %>
        <% if (posts.length > 0) { %>
            <div class="ui four cards stackable">   
                <% posts.forEach(function(post){ %>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">
                                <% if(post.link) { %>
                                    <a href="<%= post.link %>">
                                        <%= post.title.substring(0,70) %>
                                    </a>
                                <% } else { %>
                                    <%= post.title.substring(0,70) %>
                                <% } %>
                                
                                <% if(post.title.length > 70) { %>
                                    ...
                                <% } %>
                            </div>
                        </div>
                        <div class="content">
                            <p><%= post.content.substring(0,100) %></p>
                            <% if(post.content.length > 100) { %>
                                ...
                            <% } %>
                            
                            <% switch(post.linkType) { 
                                    case "Image": %>
                                    <img class="ui image" src="<%= post.link %>">
                                <% break; 
                                    case "Video": %>
                                <video class="ui fluid" width="100%" autoplay controls loop>
                                    <source src="<%= post.link %>">
                                </video>
                                <% break;
                                    case "Youtube": %>
                                <div class="yt-video-box">            
                                    <iframe class="yt-video" src="<%= post.link %>" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <% break;
                            } %>
                        </div>
                        <em>Submitted by <a href="/user/<%= post.author.id %>"><%= post.author.username %></a></em>
                        <% if(currentUser) { %>                        
                            <div class="ui two compact buttons">
                                <% if(doesUserLikePost(post._id)) { %>
                                    <a id="l<%= post._id %>" class="ui labeled button btn-rating btn-like">
                                        <div class="ui left attached active blue button">
                                            <i class="ui left floated thumbs up icon"></i>
                                        </div>
                                        <div class="ui blue left pointing label">
                                            <span><%= post.likes %></span>
                                        </div>                                                       
                                    </a>
                                <% } else { %>
                                    <a id="l<%= post._id %>" class="ui labeled button btn-rating btn-like">
                                        <div class="ui left attached button">
                                            <i class="ui left floated thumbs up icon"></i>
                                        </div>
                                        <div class="ui blue left pointing label">
                                            <span><%= post.likes %></span>
                                        </div>                                                       
                                    </a>
                                <% } %>
                                <% if(doesUserDislikePost(post._id)) { %>
                                    <a id="d<%= post._id %>" class="ui labeled button btn-rating btn-dislike">
                                        <div class="ui red right pointing label">
                                            <span><%= post.dislikes %></span>
                                        </div>
                                        <div class="ui right attached active red button">
                                        <i class="ui right floated thumbs down icon"></i>
                                        </div>
                                    </a>
                                <% } else { %>
                                    <a id="d<%= post._id %>" class="ui labeled button btn-rating btn-dislike">
                                        <div class="ui red right pointing label">
                                            <span><%= post.dislikes %></span>
                                        </div>
                                        <div class="ui right attached button">
                                        <i class="ui right floated thumbs down icon"></i>
                                        </div>
                                    </a>
                                <% } %>
                            </div>
                            <% } else { %>
                                <div class="ui two compact buttons">
                                    <div class="ui labeled bottom attached button" tabindex="0">
                                        <div class="ui blue disabled button">
                                            <i class="ui left floated thumbs up icon"></i>
                                        </div>
                                        <a class="ui blue left pointing label">
                                            <span><%= post.likes %></span>
                                        </a>
                                    </div>
                                    <div class="ui labeled bottom attached button" tabindex="0">
                                        <a class="ui right pointing red label">
                                            <span><%= post.dislikes %></span>
                                        </a>
                                        <div class="ui red disabled button">
                                            <i class="ui right floated thumbs down icon"></i>
                                        </div>                                    
                                    </div>
                                </div>
                            <% } %>                          
                            <a href="/post/<%= post._id %>" class="ui animated bottom attached button">
                                <div class="visible content">
                                    Read More
                                </div>
                                <div class="hidden content">
                                    <i class="chevron circle right icon"></i>
                                </div>                        
                            </a>                       
                        </div>
                        
                    <% }); %>
                </div>
            <% } else { %>
                <div class="ui segment">
                    <p>No posts yet!</p>
                </div>
            <% } %>
        
    </div>
    <!-- TODO: PUT THIS IN ANOTHER FILE -->
    <script language='javascript'>        
        $(document).ready(function () {
            $('.tabular.menu .item').tab({
                history: false
            });
            $('.ui.accordion').accordion({
                animateChildren: false
            });            
        });
    </script>

    <% include partials/footer %>