<% include ../partials/header %>
<div class="ui container">
    <div class="ui fluid card">
        <div class="content">
            <div class="header">
                <%= user.username %>'s Profile
            </div>
        </div>
        <div class="content">
            <div class="ui secondary pointing orange tabular menu">
                    <div class="item active" data-tab="posts-tab">Submissions</div>
                    <div class="item" data-tab="likes-tab">Likes</div>
                    <div class="item" data-tab="dislikes-tab">Dislikes</div>
                </div>
                <div class="ui tab active" data-tab="posts-tab">
                    <% if(user.posts.length > 0) { %>
                        <div class="ui relaxed divided list">
                            <% user.posts.forEach(function(post){ %>
                                <div class="item">
                                    <% switch(post.linkType) { 
                                            case "Image": %>
                                            <i class="big image middle aligned icon"></i>
                                        <% break; 
                                            case "Video": %>
                                            <i class="big film middle aligned icon"></i>
                                        <% break;
                                            case "Youtube": %>
                                            <i class="big youtube middle aligned icon"></i>
                                        <% break;
                                            case "Text": %>
                                            <i class="big talk middle aligned icon"></i>
                                        <% break;
                                            default: %>
                                            <i class="big linkify middle aligned icon"></i>
                                        <% break;
                                    } %>
                                    
                                    <div class="content">
                                        <a class="header" href="/post/<%= post._id %>"><%= post.title %></a>
                                    </div>                        
                                </div>
                            <% }); %>               
                        </div>
                    <% } else { %>
                        <p>No submissions here.</p>
                    <% } %>       
                </div> 
                <div class="ui tab" data-tab="likes-tab">
                    <% if(user.likedPosts.length > 0) { %>
                        <div class="ui relaxed divided list">
                            <% user.likedPosts.forEach(function(post){ %>
                                <div class="item">
                                    <% switch(post.linkType) { 
                                            case "Image": %>
                                            <i class="big image middle aligned icon"></i>
                                        <% break; 
                                            case "Video": %>
                                            <i class="big film middle aligned icon"></i>
                                        <% break;
                                            case "Youtube": %>
                                            <i class="big youtube middle aligned icon"></i>
                                        <% break;
                                            case "Text": %>
                                            <i class="big talk middle aligned icon"></i>
                                        <% break;
                                            default: %>
                                            <i class="big linkify middle aligned icon"></i>
                                        <% break;
                                    } %>
                                    
                                    <div class="content">
                                        <a class="header" href="/post/<%= post._id %>"><%= post.title %></a>
                                    </div>                        
                                </div>
                            <% }); %>               
                        </div>
                    <% } else { %>
                        <p>This user hasn't liked anything yet!</p>
                    <% } %>            
                </div>
                <div class="ui tab" data-tab="dislikes-tab">
                    <% if(user.dislikedPosts.length > 0) { %>
                        <div class="ui relaxed divided list">
                        <% user.dislikedPosts.forEach(function(post){ %>
                            <div class="item">
                                <% switch(post.linkType) { 
                                        case "Image": %>
                                        <i class="big image middle aligned icon"></i>
                                    <% break; 
                                        case "Video": %>
                                        <i class="big film middle aligned icon"></i>
                                    <% break;
                                        case "Youtube": %>
                                        <i class="big youtube middle aligned icon"></i>
                                    <% break;
                                        case "Text": %>
                                        <i class="big talk middle aligned icon"></i>
                                    <% break;
                                        default: %>
                                        <i class="big linkify middle aligned icon"></i>
                                    <% break;
                                } %>
                                
                                <div class="content">
                                    <a class="header" href="/post/<%= post._id %>"><%= post.title %></a>
                                </div>                        
                            </div>
                        <% }); %>               
                    </div>
                <% } else { %>
                    <p>This user hasn't disliked anything yet!</p>
                <% } %>            
            </div>                    
        </div>
    </div>    
</div>
<script language="javascript">
    $(document).ready(function(){
        $('.tabular.menu .item').tab({
            history: false
        });
    });
</script>
<% include ../partials/footer %>